.WBDFPolar {
  position: relative;
  box-sizing: border-box;
  // border: solid thin darkgoldenrod;
  // height: 100%;
  // width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding: 13.5%;

  .dial {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }
  .dial1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .dialNoLabelAndTick {
    position: absolute;
    left: -12%;
    top: -12%;
    width: 124%;
    height: 124%;
  }
}
