.root {
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 8px;
  display: flex;
  min-height: 40px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 175px;
}

.selects {
  width: 400px;
}
