.addRoot {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  > span {
    width: 100px;
    text-align: right;
    opacity: 0.6;
  }
}

.txtArea {
  resize: none;
  outline: none;
  color: var(--theme-font-100);
  background: transparent;
  border: 0px;
  box-shadow: var(--theme-input-shadow);
  padding: 4px 8px;
  font-size: 14px;
}

.input00 {
  width: 210px;
}
