.root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.item {
  margin-left: 36px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  > span {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 4px;
    background: #ffffff50;
    min-width: 16px;
    height: 16px;
    border-radius: 16px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    // color: #353d5b;
    color: rgba(255, 255, 255, 0.8);
  }
}

.sitem {
  > span {
    padding: 0;
  }
}
