.root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  font-size: 14px;
  position: relative;
  background-color: #072b54;
}

.xx {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 30px;
  border: 1px solid red;

  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      to top right,
      transparent,
      transparent calc(50% - 1px),
      red,
      transparent calc(50% + 1px),
      transparent
    );
  }

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      to bottom right,
      transparent,
      transparent calc(50% - 1px),
      red,
      transparent calc(50% + 1px),
      transparent
    );
  }
}
