.root {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .edgeInfoItem {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .lighttext {
      color: #fff;
      font-weight: 700;
    }

    .infosubclauses {
      display: flex;
      flex-direction: column;
      gap: 1px;

      .subclausesitem {
        width: 288px;
        height: 40px;
        padding: 0 24px;
        background: #202741;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
