.configItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  .tipLabel {
    margin-right: 10px;
    color: var(--theme-font-80);
  }
}
.valueDiv {
  background: var(--theme-background-chart);
  border-radius: 2px;
  font-size: 20px;
  color: var(--theme-font-100);
  cursor: pointer;
}
.comRoot {
  flex: 1;
}
