.root {
  background: #111438;
  box-shadow: 0px -1px 1px rgba(234, 238, 255, 0.1), inset 0px -1px 1px rgba(255, 255, 255, 0.15),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  height: 38px;
  display: flex;
}

.item {
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}

.check {
  font-weight: bold;
  color: #3ce5d3;
  background: linear-gradient(0deg, #353d5b, #353d5b), #353d5b;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(240, 253, 255, 0.2),
    inset 0px -1px 1px rgba(4, 4, 28, 0.3);
  border-radius: 2px;
}
