.DS_Store
.vscode
node_modules

.babelrc
.eslintignore
.eslintic.js
.gitignore
.npmignore
.prettierrc.js

global.ts
tsconfig.json
rollup.config.js
style.js
src

package-lock.json
yarn-error.log