.root {
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.list {
  flex: 1;
  margin: 8px;
  width: calc(100% - 16px);
  overflow: auto;
  box-sizing: border-box;
}

.item {
  margin: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border-radius: 4px;
  box-sizing: border-box;
}
