.Mode1 {
  width: 650px;
  flex: 1;
  overflow-y: auto;
  scrollbar-gutter: stable;

  .mode1head {
    width: 100%;
    height: 64px;
    background: #202741;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 1px;
  }
}

.footerbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .btn {
    width: 88px;
    height: 32px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #353d5b;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(240, 253, 255, 0.2),
      inset 0px -1px 1px rgba(4, 4, 28, 0.3);
    border-radius: 2px;
    user-select: none;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      color: #16c5bc;
      background-color: var(--theme-button-active);
    }
  }
}
