.root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.comp {
  margin-top: 10px;
}

.compx {
  margin-top: 10px;
  width: 104px;
}

.info {
  position: absolute;
  top: 20px;
  left: 200px;
}
