.root {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 0 5px;
}

.title {
  width: 100%;
}

.group {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.checkbox {
  box-sizing: border-box;
  width: 182px;
  height: 40px;
  font-size: 12px;
  margin: 0;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
