.spectrogram {
  margin-top: 8px;
  width: 100%;
  background-color: var(--theme-background-primary);
  padding: 32px 32px 12px 32px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 1px 0px rgba(189, 255, 248, 0.15);
  margin-bottom: 32px;
  span {
    color: rgba(255, 255, 255, 0.8);
  }
}
.title {
  font-weight: bold;
  color: var(--theme-font-100);
  font-size: 14px;
}
.colorLabel {
  width: 210px;
  margin-bottom: 20px;
}

.colorInput {
  border: none;
  padding: 0;
  background-color: transparent;
}
