.rtg-fade-appear {
  opacity: 0.01;
}

.rtg-fade-appear-active {
  opacity: 1;
  transition: all 300ms ease-out;
}

.rtg-fade-enter {
  opacity: 0.01;
}

.rtg-fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}

.rtg-fade-exit {
  opacity: 1;
}

.rtg-fade-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}

// ------------------------------

.rtg-slide-up-enter {
  transform: translateY(100%);
}

.rtg-slide-up-enter-active {
  transform: translateY(0%);
  transition: all 300ms ease-out;
}

.rtg-slide-up-exit {
  transform: translateY(0%);
}

.rtg-slide-up-exit-active {
  transform: translateY(100%);
  transition: all 300ms ease-in;
}

// ------------------------------

.rtg-slide-right-enter {
  transform: translateX(100%);
}

.rtg-slide-right-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease-out;
}

.rtg-slide-right-exit {
  transform: translateX(0%);
}

.rtg-slide-right-exit-active {
  transform: translateX(100%);
  transition: all 300ms ease-in;
}
