.root {
  height: auto;
  width: 100%;
  border-bottom: 1px solid var(--theme-font-20);
  user-select: none;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 32px;
  font-size: 14px;
  color: var(--theme-font-100);
  cursor: pointer;
}

.title {
  width: calc(100% - 56px);
}
