.item {
  width: 100%;
  height: 52px;
  margin-top: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--theme-font-80);
  cursor: pointer;
}

.itemCanSel {
  background: linear-gradient(
    90.05deg,
    rgba(61, 200, 231, 0) 0.06%,
    rgba(61, 200, 231, 0.1) 25.43%,
    rgba(61, 200, 231, 0.1) 71.61%,
    rgba(61, 200, 231, 0) 97.48%
  );
}

.select {
  background: linear-gradient(
    90.05deg,
    rgba(61, 200, 231, 0) 0.06%,
    rgba(61, 200, 231, 0.2) 25.43%,
    rgba(61, 200, 231, 0.2) 71.61%,
    rgba(61, 200, 231, 0) 97.48%
  );
  color: #3ce5d3;
}
