.root {
  width: 160px;
  height: 40px;
  background: #353d5b;
  box-shadow: inset 0px -1px 1px rgba(4, 4, 28, 0.3), inset 0px 1px 1px rgba(240, 253, 255, 0.2);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.root:active {
  background: #242437;
  box-shadow: none;
}
