.btn {
  border-radius: 2px;
  // border: 1px solid transparent;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  // margin: 0 8px;
  user-select: none;
  height: 32px;
  width: 100%;
  line-height: 32px;
  // padding: 0 16px;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.2);
  // box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.2);

  background: linear-gradient(0deg, #18406e, #18406e), #d9d9d9;
  color: var(--theme-font-100);
  &:hover {
    opacity: 0.85;
  }
  &:active {
    opacity: 1;
  }
}

.btn_icon {
  margin-left: 4px;
  margin-right: 8px;
}
.btn_disabled {
  background-color: var(--theme-button-active);
  color: var(--theme-font-20);
  cursor: not-allowed;
  &:hover {
    opacity: 1;
  }
}
