:root {
  --h: 0;
}

.mainBox {
  padding: 16px;
  height: var(--h);
  display: flex;
  .edgesBox {
    width: 538px;
    height: 100%;
    margin-left: 16px;
  }
  .mapBox {
    width: calc(100% - 538px - 16px);
    height: 100%;
  }
}
