.btn {
  border-radius: @border-radius-base;
  border: 1px solid transparent;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
  user-select: none;
  height: 40px;
  width: 64px;
  box-shadow: var(--theme-btn-shadow);
  &_default {
    background: var(--theme-button-primary);
    color: var(--theme-font-100);
    &:hover {
      opacity: 0.8;
    }
    &:active {
      background-color: var(--theme-button-active);
      color: #16c5bc;
    }
  }
  &_primary {
    background-color: transparent;
    color: var(--theme-primary);
    border: 1px solid var(--theme-font-100);
    &:hover {
      opacity: 0.8;
    }
    &:active {
      color: var(--theme-font-100);
    }
  }
}
.btn {
  &_large {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
  }
  &_middle {
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
  }
  &_small {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
  }
}
.btn_icon {
  margin-left: 4px;
  margin-right: 8px;
}
.btn_disabled {
  background-color: var(--theme-button-active);
  color: var(--theme-font-20);
  cursor: not-allowed;
  &:hover {
    opacity: 1;
  }
}
.btn_status {
  color: #2ee8d5;
  font-weight: bold;
}
