.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  :hover {
    opacity: 0.8;
  }
  &_type {
    position: absolute;
    display: inline-block;
    left: 28px;
    top: 20px;
  }
}
.small {
  transform: scale(0.67);
}
.large {
  transform: scale(1.3);
}
