.itemRoot {
  background-color: #353d5b;
}

.content {
  padding: 8px;
}

.form {
  padding: 8px;
}

.des {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid thin gray;
  padding: 8px 8px 16px 0;
  height: 30px;
  align-items: center;
  > span {
    opacity: 0.6;
    font-size: 14px;
  }
}

.btns {
  padding: 8px 16px 8px 0;
  background-color: #181c36;
  text-align: right;
  box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
  height: 40px;
}

.setItems {
  margin-top: 8px;
  .setItem {
    display: flex;
    span {
      width: 140px;
      text-align: right;
      margin-right: 8px;
      opacity: 0.6;
    }
  }
}
