.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb {
  margin-left: 10px;
  background: var(--theme-footer-radio-background);
  // border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 1px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #3ce5d3;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 160%;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #3ce5d3;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 160%;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #3ce5d3;
  }
}

.drop {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%, 0);
  width: 320px;
  overflow: hidden;
  opacity: 1;
  transition: all ease 0.3s;
  z-index: 2;
}

.hide {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.img {
  width: 16px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.info {
  padding: 24px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-top: 11px;
  min-height: 60px;
  max-height: 400px;
  border-radius: 8px;
  background: var(--theme-background-log);
  box-shadow: inset -1px 0px 1px rgba(60, 229, 211, 0.3), inset 1px 0px 0.5px rgba(60, 229, 211, 0.3),
    inset 0px 0px 16px rgba(59, 237, 219, 0.2);
  position: relative;
}

.scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-height: 352px;
}

.item {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  .type {
    width: 64px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
