.root {
  background-color: transparent;
  display: flex;
  margin-top: 20px;
}

.label {
  width: 150px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.child {
  position: relative;
  display: flex;
  justify-content: space-between;
}
