.protectRoot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.mapContainer {
  flex: 1;
  position: relative;
}

.reglist {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 225px;
  height: 300px;
}
