.treeRoot {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  user-select: none;
  .rootTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    line-height: 40px;
  }

  .nodes {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    overflow: auto;
  }
}
