.root {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: var(--theme-background-tabs-card);
  padding: 16px;
  display: flex;
  flex-direction: column;
  .timeTab {
    flex: 1;
  }
}
