.content {
  height: 100%;
}

.fontSet {
  position: fixed;
  left: 150px;
  top: 27px;
  z-index: 5;
  color: var(--theme-font-100);
  cursor: pointer;
  height: 27px;
  width: 27px;
  background-size: 100% 100%;
}
