.root {
  position: absolute;
  top: 20%;
  right: 640px;
  z-index: 1000000000;
  height: 500px;
  color: red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}

.ee {
  position: absolute;
  bottom: calc(100% + 32px);
  left: 0;
  width: 600px;
}

.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
