.root {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -6px;
  gap: 8px;
  .circle {
    width: 6px;
    height: 6px;
    border-radius: 50px;
  }
  .on {
    background-color: #3ce5d3;
  }
  .off {
    background: rgba(255, 255, 255, 0.3);
  }
}
