.root {
  box-sizing: border-box;
  padding: 20px 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.save {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
