.Calendar {
  position: relative;
  display: inline-block;
  user-select: none;
  font-size: 14px;
  box-sizing: border-box;

  .calendaritem {
    background-color: var(--theme-select);
    border-radius: 2px;
    color: var(--theme-font-100);
    padding: 7px 16px;
    line-height: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-color: transparent;
    cursor: pointer;
    transition: border-color 0.5s;
    &.disable {
      opacity: 0.5;
    }

    &.focusmain {
      border-color: #3ce5d3;
    }

    .calendartext {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
  .calendarOpen {
    background: var(--theme-select);
    border-radius: 2px;
    position: absolute;
    opacity: 0;
    top: 36px;
    z-index: -1;
    box-sizing: border-box;
    transition: opacity 0.5s;
    pointer-events: none;
    &.open {
      opacity: 1;
      z-index: 100;
      pointer-events: auto;
    }
    .calendarGridDay {
      box-sizing: border-box;
      padding: 0 8px;

      .CalendarHeader {
        height: 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .CalendarHeaderText {
          color: #3ce5d3;
        }

        .CalendarHeaderBtn {
          cursor: pointer;
          font-size: 20px;
        }
      }
      .footer {
        height: 44px;
        box-sizing: border-box;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.topborder {
          border-top: 1px solid var(--theme-font-20);
        }

        .footeritem {
          color: #3ce5d3;
          cursor: pointer;
          font-size: 14px;
        }
      }
      .week {
        display: flex;
        align-items: center;
        line-height: 20px;
        padding: 8px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .itemYear {
          width: 78px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          cursor: pointer;
        }
        .select {
          border: 1px solid #3ce5d3;
          color: #3ce5d3;
        }
        .unselect {
          border: 1px solid transparent;
          color: var(--theme-font-100);
        }
        .canSelect {
          border: 1px solid transparent;
          color: var(--theme-font-30);
        }
      }
    }
  }
}
