.root {
  height: 70%;
  top: 30%;
  background-color: #714288;
}

.float {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
  height: 60px;
  width: 160px;
  border-radius: 4px;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 100000;
}
