.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .container_dataBox {
        flex: 1;
        padding: 0 20px;
        position: relative;
    }

    .dataBox_content {
        width: 100%;
        padding: 0 10px 40px;
        box-sizing: border-box;
        position: relative;

        .content_top {
            height: 20px;
            min-height: 20px;
            background: var(--theme-primary-10);
            border: 1px solid var(--theme-primary-30);
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .top_slider{
                width: 30px;
                height: 30px;
                background-color: var(--theme-button-primary);
                box-sizing: border-box;
                border-radius: 50%;
                position: absolute;
                z-index: 10;
                cursor: pointer;
                &::after{
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-color: var(--theme-primary);
                    box-sizing: border-box;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transform: translate(25%,25%);
                }
            }
            .top_slider_left{
                left: -15px;
            }
            .top_slider_right{
                right: -15px;
            }
            .top_lBtn {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-100%, -50%);
                ;
            }

            .top_rBtn {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(100%, -50%);
                ;
            }

            :global {
                .sglmgr-btn-text[disabled] {
                    opacity: 0.2;
                }
            }

            .top_item {
                flex: 1;
                height: 100%;
                position: relative;

                &>span {
                    font-size: 10px;
                    color: var(--theme-font-80);
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .top_item:not(:last-child)::after {
                content: '';
                width: 2px;
                height: 4px;
                background-color: var(--theme-primary-60);
                position: absolute;
                right: -1px;
                bottom: 0px;
            }

            .top_item_has {
                background-color: var(--theme-primary-60);
            }

            .top_item_choose {
                background-color: var(--theme-primary);
            }

            .top_dayItem {
                height: 100%;
                cursor: pointer;
                position: absolute;
                background-color: var(--theme-primary-60);
                z-index: 1;
            }

            .top_dayItem_choose {
                background-color: var(--theme-primary);
            }

            .top_alert {
                padding: 4px 8px;
                font-size: 10px;
                color: var(--theme-font-100);
                white-space: nowrap;
                background: var(--theme-primary-20);
                border-radius: 2px;
                position: absolute;
                bottom: -100%;
                left: 50%;
                transform: translate(-50%, 100%);
            }

            .top_alert::after {
                content: '';
                width: 0;
                border-style: solid;
                border-width: 6px;
                border-color: transparent transparent var(--theme-primary-20) transparent;
                position: absolute;
                top: -12px;
                left: 50%;
                transform: translateX(-50%);
            }

            .top_time{
                padding: 6px 16px;
                font-size: 14px;
                line-height: 20px;
                color: var(--theme-font-100);
                white-space: nowrap;
                background: var(--theme-input);
                box-shadow: 0px -0.5px 0.5px rgba(127, 132, 172, 0.15), inset 0px -1px 1px rgba(255, 255, 255, 0.1), inset 0px 6px 10px rgba(4, 5, 27, 0.6);
border-radius: 2px;
                border-radius: 2px;
                position: absolute;
                bottom: -100%;
                transform: translateY(80%);
            }
        }

        .content_top_bg{
            background: var(--theme-icon-important);
            .top_dayItem {
                background-color: var(--theme-primary);
            }
        }
    }
}