.root {
  background: var(--theme-button-radio-unchecked);
  border: 1px solid var(--theme-iconswitch-border);
  box-shadow: var(--theme-iconswitch-shadow);
  border-radius: 2px;
  height: 34px;
  display: flex;
}

.item {
  width: 50%;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  color: var(--theme-font-50);
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}

.check {
  font-weight: bold;
  color: var(--theme-primary-80);
  background: var(--theme-button-primary);
  box-shadow: var(--theme-iconswitch-select);
  border-radius: 2px;
}
