.root {
  // height: 70px;
  height: 92px;
  display: flex;
  align-items: center;
  position: relative;
  .rightArrow {
    height: 100%;
    width: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .leftArrow {
    height: 100%;
    width: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .rootCon {
    position: relative;
    height: 100%;
    overflow: hidden;
    .axis {
      width: 100%;
      box-sizing: border-box;
      padding: 0 45px;
      height: 100%;
      transition: all 0.5s;
      display: flex;
      align-items: center;
      .itemBox {
        height: 100%;
        display: flex;
        align-items: center;
        // margin-left: -1px;
        .ballBox {
          position: relative;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .onball_nosel {
          background: #14cf5f;
          border: 2px solid rgba(255, 255, 255, 0.8);
          box-sizing: border-box;
        }
        .onball_sel {
          background: #3ce5d3;
          border: 4px solid #ffffff;
        }
        .offball_nosel {
          background: #202741;
          border: 2px solid rgba(255, 255, 255, 0.3);
          box-sizing: border-box;
        }
        .offball_sel {
          background: #202741;
          border: 4px solid rgba(255, 255, 255, 0.3);
        }
        .disable {
          cursor: not-allowed !important;
        }
        .disable:hover {
          background: #202741;
          border: 2px solid rgba(255, 255, 255, 0.3) !important;
          box-sizing: border-box;
        }
        .offball_nosel:hover {
          background: #202741;
          border: 4px solid rgba(255, 255, 255, 0.3);
          box-sizing: border-box;
        }
        .onball_nosel:hover {
          background: #35e065;
          border: 4px solid #ffffff;
          box-sizing: border-box;
        }
        .ball {
          cursor: pointer;
          width: 24px;
          height: 24px;
          border-radius: 50px;
          position: relative;
          z-index: 100;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .lable_sel {
          border: 2px solid #3ce5d3;
          height: 28px;
          line-height: 28px;
        }
        .lable_nosel {
          height: 20px;
          line-height: 20px;
        }
        .lable {
          z-index: 99;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          background: #353d5b;
          border-radius: 2px;
          font-size: 14px;
          padding: 0 4px;

          span {
            color: rgba(255, 255, 255, 0.5);
          }
        }
        .runBall_sel {
          border: 4px solid #ff4c2b;
        }
        .runBall_nosel {
          border: 2px solid #ff4c2b;
          box-sizing: border-box;
        }
        .runBall_nosel:hover {
          border: 3px solid #ff4c2b;
          box-sizing: border-box;
        }
        .runBall {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          width: 24px;
          height: 24px;
          border-radius: 50px;
          background: #202741;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          @-webkit-keyframes rotation {
            from {
              -webkit-transform: rotate(0deg);
            }

            to {
              -webkit-transform: rotate(360deg);
            }
          }
          .loadingImg {
            width: 16px;
            height: 16px;
            -webkit-transform: rotate(360deg);

            animation: rotation 3s linear infinite;

            -moz-animation: rotation 3s linear infinite;

            -webkit-animation: rotation 3s linear infinite;

            -o-animation: rotation 3s linear infinite;
          }
        }
        .runLable {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          background: #353d5b;
          border: 2px solid #ff4c2b;
          border-radius: 2px;
          font-size: 14px;
          color: #ffffff;
          padding: 0 4px;

          span {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.5);
          }
        }
        .runLable_sel {
          height: 32px;
          line-height: 32px;
        }
        .runLable_nosel {
          height: 20px;
          line-height: 20px;
        }

        .line {
          flex: 1;
          min-width: 42px;

          height: 8px;
          margin-left: -1px;
        }
        .online {
          background: #14cf5f;
        }
        .offline {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
.bubble {
  background-color: #04051bcc;
  box-shadow: inset -1px 0px 1px rgba(60, 229, 211, 0.3), inset 1px 0px 0.5px rgba(60, 229, 211, 0.3),
    inset 0px 0px 16px rgba(59, 237, 219, 0.2);
  border-radius: 8px;
  transition: all 0.5s ease;
  position: absolute;
  bottom: 108px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.bottom {
  bottom: unset;
  top: 108px;
}
// .ballBox:hover + .bubble {
//   pointer-events: all;
//   opacity: 1;
//   z-index: 11;
// }
.showBubble {
  pointer-events: all;
  opacity: 1;
  z-index: 11;
}
.left {
  left: -100px;
}
.right {
  right: -100px;
}
.center {
}
