.root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.head {
  height: 56px;
  display: flex;
  align-items: center;
}

.status {
  width: calc(100% - 264px);
}

.map {
  height: calc(100% - 56px);
}
