// .demoRoot {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   padding-bottom: 100px;
// }

.chart {
  flex: 1;
}

.select {
  > div {
    width: 150px;
    box-sizing: border-box;
    margin-right: 8px !important;
    text-align: center;
  }
}
