.week {
  display: flex;
  align-items: center;
  line-height: 20px;
  padding: 8px 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .weekitem {
    color: var(--theme-font-30);
    text-align: center;
  }
}
