.dropdownItem {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--theme-font-20);
}

.dropdownItem:hover {
  background: var(--theme-button-active);
  border-bottom: none;
}

// @keyframes fade-in {
//   0% {
//     opacity: 0;
//   } /*初始状态 透明度为0*/
//   40% {
//     opacity: 0;
//   } /*过渡状态 透明度为0*/
//   100% {
//     opacity: 1;
//   } /*结束状态 透明度为1*/
// }

.icon {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  color: var(--theme-font-100);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plate2 {
  width: calc(100% - 64px);
  height: 100%;
}

.content {
  width: 100%;
  margin-left: 5px;
  display: flex;
  justify-items: center;
  z-index: 1;
  word-break: break-all;
}
