.buttonCell {
  display: flex;
  justify-content: center;
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #16284e;
    border: solid thin #253861;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    color: aliceblue;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
    > span {
      margin-left: 6px;
    }
  }
}

.deviceCell {
  display: flex;
  justify-content: center;
  //   flex-direction: row;
  //   align-items: center;
  gap: 8px;
}
