.taskinfo {
  .up {
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #2a3048;
  }

  .infoLabel {
    display: inline-block;
    width: 130px;
    padding: 5px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.5);
    text-align: right;
  }

  .down {
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.8);
  }

  .footer {
    padding: 20px 45px;
    color: rgba(255, 255, 255, 0.5);
    text-align: right;
  }

  .goMore {
    display: inline-block;
    cursor: pointer;
  }
}
