.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .aaa {
    display: flex;
    align-items: center;
  }
  .b {
    flex: 1;
    overflow: auto;
    margin-right: 6px;
  }
}
