.specmRoot {
  width: 100%;
  height: 100%;
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  gap: 8px;
  color: white;

  .content {
    position: relative;
    flex: 1;
  }

  .chartContainer {
    position: absolute;
    // padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .status {
    z-index: 20;
    text-align: center;
    position: absolute;
    background-color: #091636;
    background-image: url("/images/nodata.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.98;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
.segTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.b {
  flex: 1;
  overflow: auto;
  margin-right: 6px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 1px;
  // padding: 6px;
  // background: var(--theme-background-primary);
  // box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
  // border-radius: 2px;
}

.cheboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  .cheboxItem {
    margin: 0 !important;
  }
}

.signalList {
  flex: 1;
  font-size: 13px;

  tr {
    line-height: 20px;
    height: 36px;
  }
}

.signalOp {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  > div {
    cursor: pointer;
    color: #148bed;
    font-weight: 700;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 8;
  &:hover {
    // box-shadow: inset 0px 0px 3px 3px #148bed;
  }
}
