.srootnew {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  user-select: none;
  color: var(--theme-font-100);
  font-size: 14px;
  height: 100%;
  .itemBox {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
